body {
    font-family: Arial, sans-serif;
}

.hero {
    height: 90vh;
    background: linear-gradient(135deg, #0d6efd, #198754);
}

.card {
    border-radius: 15px;
}

img {
    transition: 0.3s;
}

img:hover {
    transform: scale(1.05);
}
img {
    transition: 0.3s;
}

img:hover {
    transform: scale(1.05);
}
